<!DOCTYPE html>
<html lang="en">
    
    {{> head }}

<body>
        {{> header }}
        
<div class="block">
      <div class="card margin center" >
          <span class="card-title bulbhead">Bulb Control System</span>
        
        <div class="card-content center">
     <button class="waves-effect waves-light btn margin" onclick="buttonOn()">Turn on the light</button>

     <img class="center" id="myImage" src="/images/pic_bulboff.gif" style="width:100px">

     <button  class="waves-effect waves-light btn margin" onclick="buttonOff()">Turn off the light</button>

         </div>
      </div>
  </div>


    {{> footer }}
</body>
</html>